
* {
	box-sizing: border-box;
	font-family: helvetica;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navbar {
	min-height: 110px;
	background-color: white;
	color: #37456c;
	font-weight: bold;
	margin-bottom: 0;
}
.navbar-brand {
	height: 110px;
	line-height: 100%;
	display: block;
	padding-top: 0;
	padding-bottom: 0;
	color: #37456c;
}
.navbar-brand img, 
.navbar-brand .logo-text {
	color: #37456c;
	float: left;
	padding-top: 40px;
}
.navbar-brand img {
	vertical-align: middle;
	padding-top: 15px;
	margin-right: 10px;
}

.navbar-default .navbar-nav> li > a {
	color: #37456c;	
}
.navbar-default .navbar-nav>.active>a {
	color: #ff5555;
	background-color: transparent;
}
.navbar-default .navbar-nav> .active > a:hover {
	color: white;
	background-color: #ff5555;
}
.navbar-default .navbar-nav> li {
	padding-top: 25px;
	padding-bottom: 40px;
}
.carousel-inner .item img {
	height: 600px;
	width: 100%;
}





.navbar-nav li:nth-of-type(1) a {
	color: #ff5555;
}
.navbar-nav li:nth-of-type(1) a:hover {
	background-color: #ff5555;
	color: white;
}
.navbar-nav li:nth-of-type(2) a {
	color: #a43cb6;
}
.navbar-nav li:nth-of-type(2) a:hover {
	background-color: #a43cb6;
	color: white;
}
.navbar-nav li:nth-of-type(3) a {
	color: #5ec64d;
}
.navbar-nav li:nth-of-type(3) a:hover {
	background-color: #5ec64d;
	color: white;
}
.navbar-nav li:nth-of-type(4) a {
	color: #29b1e9;
}
.navbar-nav li:nth-of-type(4) a:hover {
	background-color: #29b1e9;
	color: white;
}
.navbar-nav li:nth-of-type(5) a {
	color: #ffc225;
}
.navbar-nav li:nth-of-type(5) a:hover {
	background-color: #ffc225;
	color: white;
}
.navbar-nav li:nth-of-type(6) a {
	color: #cb69ff;
}
.navbar-nav li:nth-of-type(6) a:hover {
	background-color: #cb69ff;
	color: white;
}













.carousel-caption {
	padding: 0;
	bottom: 10px;
}
.carousel-caption h2{
	
	background-color: #f5585b;
	color: white;
	padding: 15px 0;
}
.carousel-indicators {
	bottom: 6px;
	right: 2px;
	margin: 0;
	width: auto;
	left: auto;
}
.carousel-indicators li{
	width: 15px;
	height: 15px;
	border-width: 4px;
	border-color: gray;
}
.carousel-indicators li.active{
	width: 15px;
	height: 15px;
	background-color: black;
}







.story {
	margin-top: 30px;
}

.story .latest-news {
	min-height: 360px;
	background-color: #ff5555;
	color: white;
	padding: 40px 0 30px 0;
	margin-bottom: 30px;
}
.story h4 {
	margin-bottom: 50px;
	margin-top: 0;
}
.story .news-scroller {
	height: 145px;
	overflow: hidden;
	padding: 0 20px;
	margin-bottom: 20px;
}
.story p {
	font-size: 12px;
}
.stylish-btn {
	border-radius: 0;
	background-color: transparent;
	font-style: italic;
}
.latest-news .stylish-btn {
	border-color: white;
	color: white;
	font-weight: bold;
}
.latest-news .stylish-btn:hover {
	background-color: white;
	color: #ff5555;
}




.story .montessory, 
.story .primary,
.story .secondary {
	min-height: 288px;
	background-color: #973cb6;
	padding: 40px 0 30px 0;
	color: white;
	margin-bottom: 30px;
}

.story .montessory h4, 
.story .primary h4,
.story .secondary h4 {
	margin-bottom: 30px;
}
.montessory .stylish-btn {
	border-color: white;
	color: white;
	font-weight: bold;
}
.montessory .stylish-btn:hover {
	background-color: white;
	color: #973cb6;
}

.primary .stylish-btn {
	border-color: white;
	color: white;
	font-weight: bold;
}
.primary .stylish-btn:hover {
	background-color: white;
	color: #5ec64d;
}

.story .primary {
	background-color: #5ec64d;
	
}
.story .secondary {
	background-color: #29aae2;
	
}
.secondary .stylish-btn {
	border-color: white;
	color: white;
	font-weight: bold;
}
.secondary .stylish-btn:hover {
	background-color: white;
	color: #29aae2;
}











.jinnah .media a {
	padding-right: 15px;
}
.jinnah h2 {
	margin: 0 0 40px 0;
	font-weight: bold;
	color: #29aae2;
}

.jinnah .media-heading {
	margin: 0;
	font-weight: bold;
	color: #6e6e6e;
}
.jinnah h4 + h6 {
	margin-top: 6px;
	margin-bottom: 30px;
	color: #6e6e6e;
	font-weight: bold;
}
.jinnah .media-body p {
	color: #6e6e6e;
	font-size: 14px;
	margin-bottom: 30px;
}
.jinnah .media-object {
	margin-bottom: 30px;
}

.jinnah .examinations h2 {
	margin-bottom: 25px;
}
















@media (max-width: 1200px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media (max-width: 992px) {
	.jinnah .examinations h2 {
		margin-bottom: 55px;
	}
}

@media (max-width: 768px) {
	.navbar-brand .logo-text {
		display: none;
	}
	.carousel-caption h2 {
		font-size: 16px;
		padding: 5px 0;
	}
	.carousel-inner .item img {
		height: auto;
		width: 100%;
		min-height: 400px;
	}
	.jinnah .examinations h2 {
		margin-bottom: 30px;
	}

}


@media (max-width: 420px) {

	.jinnah .media a {
		width: 100%;
		padding: 0;
	}
	.jinnah .media a img {
		margin-left: auto;
		margin-right: auto;
	}
	.jinnah .media-body {
		width: 100%;
	}
}
