 html, body {
       width: 100%;
	   height: 100%;
}
* {
   margin: 0;
   padding: 0;
   font-family: "new roman";
   color: white;
   box-sizing: border-box;
  }
header {
         display: block;         
		 width: 100%;
         background-color: #666633;
         text-align: center;
		 padding: 15px 15px 0px 15px;
		}
		
header h1 {
     
     font-size: 2em; 
	 color: white;
	 
}
  
  nav {
            display: block;
            width: 100%; 			
			background-color: #666633;
            text-align: center;
			padding: 15px;
			
         }
#navbutton div {
				display: none;
}
	 
ul li {
     display: inline-block;
	 margin: 10px;
	 width: auto;
	 height: auto;
	 
   }

ul li a {
          
          padding: 8px 12px;
		  font-size: 100%;
		  text-decoration: none;
		  border-radius: 0px;
		  border: 1px outset white;
		  color: white;
		  
}

ul li a.active {
			  color: black;
		      border: 1px outset black;
		      
            }
ul li a.active:hover {
					
		            border: 1px inset black;

				 }
ul li a:hover {
          color: black;
		  border: 1px inset black;
		  
}


.photo_container {
			
			width: 100%;
			height: 65%;
			background-color: black;
			position: relative;
			
			
      }
	  
.photo_container > img{
				
				display: block;
				position: absolute;
				left: 0; right:0; top:0; bottom:0; margin: auto;
				
                   }
.photo_container > iframe {
				
				display: block;
				position: absolute;
				width: 90%;
				height: 90%;
				left: 0; right:0; top:0; bottom:0; margin: auto;
				border: 0;
				object-fit: fill;
				border: 2px solid black;				
                   }
				   
.bodycontainer {
		  width: 100%;
		  background-color: #666633;
		  padding-bottom: 10px;
		  
}
.bodycontainer2 {
		  
		  width: 90%;
		  background-color: #666633;
		  margin: auto;
		  text-align: justify;
		  }
.bodycontainer3 {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					padding: 10px 0;
					padding-bottom: 0;
				}
		  
.bodycontainer3 iframe {
						display: block;
						width: 32%;
						margin: 1%;
					 }
.bodycontainer3 iframe:nth-of-type(1),
.bodycontainer3 iframe:nth-of-type(4) {
										margin-left: 0;
}
.bodycontainer3 iframe:nth-of-type(3),
.bodycontainer3 iframe:nth-of-type(6) {
										margin-right: 0;
}
.bodycontainer2:after {
						content: " ";
						height: 0;
						width: 0;
						display: block;
						clear: both;
}		  
iframe {
		border: 2px solid black;
}
iframe:hover {
			 border: 2px solid white;
}
				   
.bodyleft {
		 width: 65%;		 
		 margin: auto;
		 background-color: #666633;
		 padding-top: 15px;
		 float: left;
       }
				   
.bodyright {
		 float: right;
		 width: 30%;
		 padding-top: 15px;
       }
.one, .two, .three, .four
              {
		  
		  margin: 5px;
		  
       }			  
	   

.bodyright h2{
    text-align: justify;
}	


.inlineleft {
  width: 48%;
  float: left;
}
.inlineright {
  width: 48%;
  float: right;
}
.button {
          
          display: inline-block;
          padding: 8px 12px;
		  font-size: 100%;
		  text-decoration: none;
		  border-radius: 0px;
		  border: 1px outset white;
		  color: white;
		  background-color: #666633;
}

.button:hover {
          color: black;
		  border: 1px inset black;
}
.button {
						float: right;
						margin-top: 5px;
						clear: both;
}
.inlineleft:after, .inlineright:after {
						content: " ";
						height: 0;
						width: 0;
						display: block;
						clear: both;
}
audio {
	   display: block;
	   width: 80%;
	   height: 200px;
	   
}
		  

footer {
  line-height: 1.5;
  padding-top: 20px; 
  font-style: bold;
  text-align: center;
  color: white;  
  background-color: black;
  border-radius: 0px; 
  margin: auto;
  width: 100%;
  
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.khapispan {
 font-size: 0.8em;
}


/* For mobile devices */		 
@media (max-width: 770px) 
{		 
	
	 
ul li {
     display: block;
	 margin: 0;
   }

ul li a, #navbutton div{
          display: block;
          padding: 8px 12px;
		  width: 95%;
		  font-size: 100%;
		  text-decoration: none;
		  border-radius: 0px;
		  border: 1px outset white;
		  color: white;
		  margin-bottom: 5px;
		  
}
#navbutton ul {
  display: none;
			 }
ul li a.active {
			  color: black;
		      border: 1px outset black;
		      
            }
ul li a.active:hover {
					
		            border: 1px inset black;

				 }
ul li a:hover {
            color: black;
		    border: 1px inset black;
		  
		   }
.bodyleft {
		  width: 100%;
				}
.left h2 {
		  text-align: center;
        }
.bodyright {
			 display: none;
		   }
.inlineleft, .inlineright {
						 float: none;
						 width: 100%;
						}

.bodycontainer3 iframe {
						width: 49%;
						margin: 1%;
					 }
.bodycontainer3 iframe:nth-of-type(2n+1) {
										margin-left: 0; margin-right: 1%;
}
.bodycontainer3 iframe:nth-of-type(2n) {
										margin-right: 0; margin-left: 1%;
}			

	 
		 
}
/* End of mobile css */	

@media (max-width: 480px)
{
.bodycontainer3 iframe {
						width: 100%;
						margin-bottom: 1%;
					 }
.bodycontainer3 iframe:nth-of-type(2n+1) {
										margin-left: 0; margin-right: 0%;
}
.bodycontainer3 iframe:nth-of-type(2n) {
										margin-right: 0; margin-left: 0%;
}		

}